.header{
    display: flex;
    border-width: 2px 2px 2px 2px;
    border-style: solid dashed solid dashed;
    border-color: #9c27b0 #f3e5f5 #9c27b0 #f3cff8;
}

.sidebar{
    text-align: center;
}

.footer{
    padding-left: 20px;
    padding-top: 180px;
}

.text{
    padding: 10px;
	font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
	color: #872099;
    background-color: #f3cff8;
	border-radius: 8px;
}

.text:hover{ /*цвет по наведению мыши*/
	color: #872099;
	background-color:  #f3cff8;
    border-width: 2px 2px 2px 2px;
    border-style: solid dashed solid dashed;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5); /*тень*/
}

.content{
    display: block;
    padding: 10px;
    width: 400px;
}

.content1{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    font-size: 25px;
}

.headerText{
    padding-top: 70px;
}


body{
    margin: 0%;
}

table {
	border-spacing: 0; border-collapse: collapse
}

.item{
    padding: 10px 50px;
}

.color {
    background-color: #0B95DD;
    border-radius: 8px;
    display: flex;
    align-items: center;

}

.color:hover {
    background-color: #0B95BB;
}

.speciality{
    text-decoration: none;
}