@page
@model Hackathon2022.Pages.CreatedTicketModel
@{
}
<html>
	<head>
		<title>Запись</title>

		<link href="~/css/CreatedTicket.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<div class="container">
<div class="header">
	<img src="~/images/Index.png" width="80" height="100" alt="фоновая картинка" />
	<div class="headerText">Медицинская информационно-аналитическая система</div>
</div>
<div class="sidebar"> 
	<h2>Для получения талончика и/или выдачи рекомендаций по лечению, пожалуйста, приложите штрих-код Снилса или полиса ОМС к считывателю</h2>
	<img src="~/images/Ticket/1.png" width="600px"/></br>
	<div class="strelka"><img src="~/images/Ticket/2.png" width="100px"/></div>
</div>
<div class="footer"><a class="text" href="/Index">Вернуться назад</a></div>

		</div>
	</body>
</html>