@page
@model Hackathon2022.Pages.DoctorModel
@{
}
<html>
	<head>
		<title>Запись к специалисту</title>

		<link href="~/css/Doctor.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<div class="container">
<div class="header">
	<img src="~/images/Index.png" width="80" height="100" alt="фоновая картинка" />
	<div class="headerText">Медицинская информационно-аналитическая система</div>
</div>
<div class="sidebar"> 
	<h1>Выберите специалиста</h1>
</div>

<div class="content1">
	<div class="content">
		<div class="item"><a href="/Times"><img src="~/images/Surgeon.png" width="50px"/>Амосов</a></div>
		<div class="item">Аничков</div>
		<div class="item">Бакулев</div>
		<div class="item">Бегельман</div>
	</div>

	<div class="content">
		<div class="item">Бехтерев</div>
		<div class="item">Вирхов</div>
		<div class="item">Гален</div>
		<div class="item">Гурард</div>
	</div>

	<div class="content">
		<div class="item">Даценко</div>
		<div class="item">Ермолаева</div>
		<div class="item">Миронова</div>
		<div class="item">Тарасеева</div>
	</div>
</div>
<div class="footer"><a class="text" href="/Record">Вернуться назад</a></div>

		</div>
	</body>
</html>