@page
@model Hackathon2022.Pages.RecordModel
@{
}
<html>
	<head>
		<title>Запись</title>

		<link href="~/css/Record.css" rel="stylesheet" type="text/css">

	</head>
<body>
<div class="container">
			<div class="header">
	<img src="~/images/Index.png" width="80" height="100" alt="фоновая картинка" />
	<div class="headerText">Медицинская информационно-аналитическая система</div>
</div>
<div class="sidebar"> 
	<h1>Выберите специалиста</h1>
</div>

<div class="content1">
	<div class="content">
		<div class="item">
			<div class="color"><img src="~/images/Record.png" alt="врач"/>
				<a href="/Doctor/1">Невролог</a>
			</div>
		</div>
		@for (int i = 1; i < 4; i++)
		{
			<div class="item">@Model.Specialties[i].Name</div>
		}
	</div>

	<div class="content">
		@for (int i = 4; i < 8; i++)
		{
			<div class="item">@Model.Specialties[i].Name</div>
		}
	</div>

	<div class="content">
		@for (int i = 8; i < 12; i++)
		{
			<div class="item">@Model.Specialties[i].Name</div>
		}
	</div>
</div>
<div class="footer"><a class="text" href="/Index">Вернуться назад</a></div>

		</div>
	</body>
</html>