@page
@model Hackathon2022.Pages.components.record.IndexModel
@{
}
<html>
	<head>
		<title>Запись</title>

		<link href="~/css/Record.css" rel="stylesheet" type="text/css">

	</head>
<body>
<div class="container">
			<div class="header">
	<img src="~/images/Index.png" width="80" height="100" alt="фоновая картинка" />
	<div class="headerText">Медицинская информационно-аналитическая система</div>
</div>
<div class="sidebar"> 
	<h1>Выберите специалиста</h1>
</div>

<div class="content1">
	<div class="content">
		<div class="item">
			<div class="color"><img src="~/images/Record.png" alt="врач"/>
				<a href="/Doctor">Невролог</a>
				</div>
				</div>
		<div class="item">Аллерголог</div>
		<div class="item">Бактериолог</div>
		<div class="item">Гастроэнтеролог</div>
	</div>

	<div class="content">
		<div class="item">Кардиолог</div>
		<div class="item">Косметолог</div>
		<div class="item">ЛОР</div>
		<div class="item">Нарколог</div>
	</div>

	<div class="content">
		<div class="item">Нейрохирург</div>
		<div class="item">Окулист</div>
		<div class="item">Ортопед</div>
		<div class="item">Терапевт</div>
	</div>
</div>
<div class="footer"><a class="text" href="/Index">Вернуться назад</a></div>

		</div>
	</body>
</html>