@page
@model Hackathon2022.Pages.TicketModel
@{
}
<html>
	<head>
		<title>Запись</title>

		<link href="~/css/Ticket.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<div class="container">
<div class="header">
	<img src="~/images/Index.png" width="80" height="100" alt="фоновая картинка" />
	<div class="headerText">Медицинская информационно-аналитическая система</div>
</div>
<div class="sidebar"> 
	<h2>Для подтверждения записи к специалисту и выдачи талончика, пожалуйста, приложите штрих-код Снилса или полиса ОМС к считывателю</h2>
	<h3><img src="~/images/Times/calendar.png" width="30px"/> Ваша дата: 20.09.22 (вт) и <img src="~/images/Times/expired.png" width="30px"/> время: 15:00</h3>
	<img src="~/images/Ticket/1.png" width="600px"/></br>
	<div class="strelka"><img src="~/images/Ticket/2.png" width="100px"/></div>
</div>
<div class="footer"><a class="text" href="/Times">Вернуться назад</a></div>

		</div>
	</body>
</html>