@page
@model Hackathon2022.Pages.TimesModel
@{
}
<html>
	<head>
		<title>Запись к специалисту</title>

		<link href="~/css/Times.css" rel="stylesheet" type="text/css">
		
		<script type="text/javascript" src="~/js/Times/jquery.js"></script>
		<script src="~/js/Times/jquery.datetimepicker.full.js"></script>
		<link rel="stylesheet" type="text/css" href="~/js/Times/jquery.datetimepicker.css"/>
	</head>
	<body>
		<div class="container">
<div class="header">
	<img src="~/images/Index.png" width="80" height="100" alt="фоновая картинка" />
	<div class="headerText">Медицинская информационно-аналитическая система</div>
</div>
<div class="sidebar"> 
	<h1>Выберите дату и время</h1>
</div>


<center>
<input type="text" value="" id="datetimepicker" name="datetimepicker"/>
<a id="okBtn" class="text">Далее</a>
</center>
<div class="text1"><img src="~/images/Times/warning.png" width="30px"/>Для записи к специалисту, пожалуйста, приготовьте Снилс или полис ОМС</div>
<div class="footer"><a class="text" href="/Doctor/1">Вернуться назад</a></div>

		</div>
	<script>
		$.datetimepicker.setLocale('ru');

		$('#datetimepicker').datetimepicker({
		dayOfWeekStart : 1,
		lang:'ru',
		format:'d M Y H:i',
		disabledDates:['2016/09/21','2016/09/29'],
		startDate: 0,
		step:30,
		minDate:0,
		allowTimes:['10:00', '11:00', '12:00', '13:00', '14:00','15:00'],
		disabledWeekDays:[0,6]
		});
		let okBtn = document.querySelector("#okBtn");
		let dateInput = document.querySelector("#datetimepicker");
		//okBtn.style.visibility='hidden';
		okBtn.addEventListener("click", () => {
			if (dateInput.value !== ""){
				okBtn.href = "/Ticket/" + dateInput.value;
			}
		});
	</script>
	</body>
</html>